<!-- ve Form tagu musi mit kazdy input unikatni "name" aby fungoval 2 way data
binding -->

<form id="file_input_form" class="p-2" #fileInputForm (submit)="onSubmit()">
  <h2 class="text text-center">Vložení nové trasy do databáze</h2>
  <div class="form-group mb-3">
    <label for="gpxFile"
      >Vložte <span style="font-weight: bold">GPX</span> soubor s trasou
      aktivity.</label
    >
    <input
      type="file"
      class="form-control"
      id="gpxFile"
      accept=".gpx"
      name="gpxInput"
      #gpxInput
      (change)="gpxInput.files && [checkFileFormat(gpxInput.files[0], 'gpx'),onGpxFileChange($event)]"/>
      <!--kdyz jsou vlozene soubory (vyjde - TRUE ) tak se provedou metody ktere jsou za "&&"-->
  </div>
  <div class="form-group mb-3">
    <label for="csvFile"
      >Vložte <span style="font-weight: bold">CSV</span> soubor z aplikace Tower
      Locator.</label
    >
    <input
      type="file"
      class="form-control"
      id="csvFile"
      accept=".csv"
      name="csvInput"
      #csvInput
      (change)="csvInput.files && [checkFileFormat(csvInput.files[0], 'csv'),onCsvFileChange($event)] "/>
  </div>
  <div class="form-group mb-3">
    <label for="routeName">Zadejte jmeno vaší trasy.</label>
    <input
      type="text"
      class="form-control"
      id="routeName"
      [(ngModel)]="routeName"
      name="routeName"
    />
    <!--#csvInput je template reference varible -->
  </div>
  <button
    [disabled]="routeName === '' || isInvalidFileFormat"
    class="btn btn-primary"
    type="submit"
    name="buttonSubmit"
  >
    Uložit
  </button>
  <p
    *ngIf="routeName === '' || isInvalidFileFormat; else dataOk"
    class="text-danger"
  >
    Soubory musí mít správný formát.<br />
    Jméno musí být vyplněné
  </p>
  <ng-template #dataOk>
    <p class="text-success">Data mohou být uložena</p>
  </ng-template>
</form>
<p *ngIf="uploadInProcess" class="text-success text text-center mt-5 display-5">Nahrávání...</p>
<p *ngIf="fileUploaded" class="text-success text text-center mt-5 display-5">Vaše trasa s názvem "<span class="font font-weight-bold text-danger">{{routeNameReturn}}</span>" byla nahrána.</p>
